# ETL
GOV_API_KEY=
GOV_API_URL=https://data.gov.tw/api/v2/rest/datastore
HF_TOKEN=
HF_DATASET_REPO=tgd-aap/taiwan-gov-data
DATASET_VERSION=dev

# gRPC server
MODEL_VERSION=dev
GRPC_EXPECTED_TOKEN=

# gRPC client / alerting
GRPC_SERVER_URL=http://127.0.0.1:50051
GRPC_AUTH_TOKEN=
ALERT_THRESHOLD=0.8
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
